{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<main role="main" class="inner cover">
        <h1 class="cover-heading">BJJ Cycle Admin</h1>
        <p class="lead">Do secret sneaky things</p>
        <p class="lead">
        </p>
      </main>

{% endblock %}
