{% extends 'base.html.twig' %}

{% block title %}New Subsystem{% endblock %}

{% block body %}
    <h1>Create new Subsystem</h1>

    {{ include('subsystem/_form.html.twig') }}

    <a href="{{ path('subsystem_index') }}">back to list</a>
{% endblock %}
