{% extends 'base.html.twig' %}

{% block title %}Focus Cycle!{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-9">
                <main role="main" class="inner cover">
                    <h1 class="cover-heading">Flow</h1>
                    <p class="lead">Choose or generate a sequence of techniques</p>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary">
                                    <h3>Random Flow</h3>
                                </li>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-primary"><strong>Position</strong></li>
                                            <li class="list-group-item">
                                                <p>
                                                    Butterfly Guard<br>
                                                    3/4 Mount<br>
                                                    Back Weak Side<br>
                                                    Armbar Bottom<br>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info"><strong>Technique</strong></li>
                                            <li class="list-group-item">
                                                <p>
                                                    Butterfly Sweep<br>
                                                    Gift Wrap Back Take<br>
                                                    Frame & Leg Over<br>
                                                    Armbar<br>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-success"><strong>Type</strong></li>
                                            <li class="list-group-item">
                                                <p>
                                                    Sweep<br>
                                                    Back Take<br>
                                                    Transition<br>
                                                    Submission<br>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-light"><strong>Player</strong></li>
                                            <li class="list-group-item">
                                                <p>
                                                    Top<br>
                                                    Top<br>
                                                    Top<br>
                                                    Top<br>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </ul>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">
                                    <h3>Make a Flow</h3>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="techniqueNoSelect">Number of techniques</label>
                                        <select class="form-control-sm" id="techniqueNoSelect">
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>

                                        <label for="startPositionSelect">Starting Position</label>
                                        <select class="form-control-sm" id="startPositionSelect">
                                            {%   for position in positions  %}
                                                <option>{{ position.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-secondary mb-2">Go!</button>
                                </li>
                            </ul>
                        </div>

                    </div>



            </div>
            <div class="col-sm-3">
                {% for cycle in cycles if cycle.name == 'Focus' %}
                    <div class="card" >
                        <img 	class="card-img-top"
                                src="{{ absolute_url(asset('images/flow.jpg')) }}"
                                alt="Card image cap">

                        <ul class="list-group list-group-flush">
                            <li  class="list-group-item">
                                <h4 class="card-title">Focus Subsystem
                                    <a href="/technique/new" class="badge badge-secondary">Butterfly Guard</a>
                                </h4>
                                <h5 class="card-title">Focus Position
                                    <a href="/technique/new" class="badge badge-secondary">Butterfly Guard Over/Under</a>
                                </h5>
                            </li>

                            <li class="list-group-item">
                                Each Period Lasts
                                <a href="/cycle" class="badge badge-secondary">{{ cycle.period }}</a><br>
                                Total Techniques
                                <a href="/technique/new" class="badge badge-secondary">{{ techniques|length }} !!!</a><br>
                                The Focus Cycle Lasts
                                <a href="/cycle/2" class="badge badge-secondary">2 Years</a><br>
                            </li>

                        </ul>

                    </div>
                {% endfor  %}
            </div>
            </main>
        </div>
    </div>




{% endblock %}
