{% extends 'base.html.twig' %}

{% block title %}Focus Cycle!{% endblock %}

{% block body %}
     <div class="container">
              
     	<div class="row">
        	<div class="col-sm-9">
				<main role="main" class="inner cover">
                    <h1 class="cover-heading">Focus Cycle</h1>
                    <p class="lead">The 'slow' cycle alows you to deepen your A-Game.</p>
            		
 
                      	
                      	
                      	
                    </div>
                    <div class="col-sm-3">
                    {% for cycle in cycles if cycle.name == 'Focus' %}
                      	<div class="card" >
                   			<img 	class="card-img-top"
                   					src="{{ absolute_url(asset('images/Magnifying-Glass.png')) }}"  
                   					alt="Card image cap">
                          	
                          	<ul class="list-group list-group-flush">
                            	<li  class="list-group-item">
                                	<h4 class="card-title">Focus Subsystem
                                		<a href="/technique/new" class="badge badge-secondary">Butterfly Guard</a>
                                	</h4>
                                	<h5 class="card-title">Focus Position
                                		<a href="/technique/new" class="badge badge-secondary">Butterfly Guard Over/Under</a>
                                	</h5>                            	
                            	</li>
                            	
                            	<li class="list-group-item">
                            		Each Period Lasts
                            		<a href="/cycle" class="badge badge-secondary">{{ cycle.period }}</a><br>
                            		Total Techniques
                            		<a href="/technique/new" class="badge badge-secondary">{{ techniques|length }} !!!</a><br>
                            		The Focus Cycle Lasts
                            		<a href="/cycle/2" class="badge badge-secondary">2 Years</a><br>
                            	</li>
                          	
                          	</ul>
                          	
                        </div>
                    {% endfor  %}    
                    </div>
    			</main>                
          	</div>
        </div>
	
	


{% endblock %}
