{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<main role="main" class="inner cover">
        <h1 class="cover-heading">Focus Cycle</h1>
        <p class="lead">The 'slow' cycle alows you to deepen your A-Game.</p>
        <p>
          	Train hard in each aspect of Jits without becoming a Jack-of-All-Guards.
      </main>

{% endblock %}
