{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<main role="main" class="inner cover">
        <h1 class="cover-heading">Maintenance Cycle</h1>
        <p class="lead">The 'quick' cycle stops your B-Game getting rusty.</p>
        <p >
          	Generates training routines that act as refreshers working through your knowlegebase without overspecialising.
        </p>
    </main>

{% endblock %}
