{% extends 'base.html.twig' %}

{% block title %}New SubSystem{% endblock %}

{% block body %}
    <h1>Create new SubSystem</h1>

    {{ include('sub_system/_form.html.twig') }}

    <a href="{{ path('sub_system_index') }}">back to list</a>
{% endblock %}
